pytorch-lightning==1.8.6
torch<=1.13.1,>=1.7
tqdm
bcolz-zipline
prettytable
menpo
mxnet
opencv-python
einops
lmdb
numpy<=1.23.5
opencv-python
pyyaml
scikit-learn
scipy
tensorboard
timm
torchvision
yapf
